<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="base::head-head"></div>




<div class="container-wrapper">
    <div class="container">
        <div class="page-header">
            <h1>Administrator page</h1>

            <p class="lead">This is the administrator page!</p>
        </div>

        <h3>
            <a th:href="@{/admin/albumInventory}" >Album Inventory</a>
        </h3>

        <p>Here you can view, check and modify the album inventory!</p>




